<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OfficeForms.Properties.Settings.omateConnectionString"
      connectionString="Provider=SQLOLEDB;Data Source=127.0.0.1,1433;Initial Catalog=OMSQLDB;Persist Security Info=True;User ID=OM_USER;Password=OMSQL@2004" />
  </connectionStrings>
  <appSettings>
    <add key="@name" value="Name"/>
    <add key="@firstName" value="FirstName"/>
    <add key="@lastName" value="LastName"/>
    <add key="@sex" value="IsMale"/>
    <add key="@address1" value="Address1"/>
    <add key="@address2" value="Address2"/>
    <add key="@city" value="City"/>
    <add key="@state" value="State"/>
    <add key="@zip" value="Zip"/>
    <add key="@phone1" value="Phone1"/>
    <add key="@dob" value="DateOfBirth"/>
    <add key="@ssn" value="Ssn"/>
    <add key="@carrier" value="PrimaryCarrier"/>
    <add key="@insured" value="PrimaryPolicyRelation"/>
    <add key="@memberName" value="PrimaryInsuredName"/>
    <add key="@memberID" value="PrimaryPolicyId"/>
    <add key="@memberDOB" value="PrimaryInsuredDob"/>
    <add key="@date" value="System.DateTime.Now"/>
    <add key="@medicaidNO" value="PrimaryPolicyId"/>
    <add key="Primary_Care_Physician" value="Value:Primary Care Physician"/>
    <add key="docRepositoryFolder" value="C:\OMATE32\Documents\"/>
    <add key="templateRepositoryUri" value="C:/OfficeForms/OfficeForms/"/>
    <add key="tempPath" value="C:\OMATE32\Documents\"/>
    <add key="Release Of Medical Info" value="file:///C:/OfficeForms/OfficeForms/templates/release_medical_info.html"/>
    <add key="Transportation Approval" value="file:///C:/OfficeForms/OfficeForms/templates/transportation_approval.html"/>
    <add key="Medicaid Eyeglasses" value="C:/OfficeForms/OfficeForms/templates/medicaid_eyeglasses.html"/>
    <add key="Consent" value="file:///C:/OfficeForms/OfficeForms/templates/consent_to_examination.html"/>
    <add key="Signature Pad Image" value="C:/OfficeForms/OfficeForms/templates/sig_image.bmp"/>
    <add key="Signin Pad Image" value="C:/OfficeForms/OfficeForms/templates/signin_image.bmp"/>
    <add key="Signature Image File" value="c:/temp/signature.bmp"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="eDocumentsEnabled" value="false"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
